
  .body{
    background-color: #F6E5F5 ;
  }
  .h2{
    font-family: 'Titillium Web', sans-serif;
    color:   color: #986D8E;
  }
  .p{
    font-family: 'Titillium Web', sans-serif;
    color: #986D8E;
  }
